*,
*::before,
*::after
{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}

@font-face
{
 font-family: Righteous;
 src: url(../font/Righteous-Regular.ttf);
}

body
{
 background-color: #d8d1d1;
 font-family: righteous;
}

/* Scroll bar styling */
.scrollbar
{
 margin-left: 22px;
 float: left;
 height: 300px;
 width: 65px;
 background: #F5F5F5;
 overflow-y: scroll;
 margin-bottom: 25px;
}

.force-overflow
{
 min-height: 450px;
}

::-webkit-scrollbar
{
 width: 6px;
 background-color: #F5F5F5;
} 

::-webkit-scrollbar-track
{
 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
 box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
 background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
 background-image: linear-gradient(to bottom, #66194f, #134e64);
}

header h1.head
{
 background-image: linear-gradient(to bottom right, #134e64, #66194f);
 padding: 1.5rem;
 height: 50vh;
 color: #ffffff;
 font-size: 2.5rem;
 -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 43%, 100% 43%, 0 100%, 0 43%, 0 0);;
 clip-path: polygon(50% 0%, 100% 0, 100% 43%, 100% 43%, 0 100%, 0 43%, 0 0);;
}

div#ill
{
 position: absolute;
 top: 1rem;
 right: 3rem;
 background-color: #c0b2bc;
 padding: 3rem;
 border-radius: 50%;
 box-shadow: 0 2rem 2rem rgba(0, 0, 0, .3);
}

div.head-group
{
 margin-top: 1rem;
}

header p.text
{
 font-size: 1.2rem;
 color: #7ab1c5;
 margin-top: 0;
 margin-left: 4rem;
}

/* Main tag */
/* Style labels */
div.mode-switch
{
 text-align: center;
 margin-top: 3rem;
}

div.mode-switch div.translate button
{
 background-image: linear-gradient(to bottom right, #134e64, #66194f);
 background-color: #134e64;
 padding: 1rem;
 text-transform: uppercase;
 font-size: small;
 font-weight: 900;
 color: #ffffff;
 border-radius: .3rem;
 border: none;
 box-shadow: .40rem .40rem 1rem rgba(0, 0, 0, .5);
}


div.boxes
{
 text-align: center;
 margin-top: 3rem;
}

div.boxes textarea
{
 resize: none;
 border-radius: .30rem;
 box-shadow: 0 0 1.5rem rgba(0, 0, 0, .4);
}

div.boxes textarea#ebox
{
 background-color: #e4dede;
 padding: .50rem;
 margin-right: 2rem;
 border: none;
 color: #217391;
}

div.boxes textarea#dbox
{
 background-color: #e4dede;
 padding: .50rem;
 border: none;
 color: #a53082;
}

a, a:link, a:active
{
 color: #134e64;
}

footer
{
 margin-top: 3rem;
 margin-bottom: 1rem;
}

footer p.foot-text
{
 color: #66194f;
 text-align: center;
}


/* Media queries */
@media only screen and (max-width: 720px)
{
    header h1.head
    {
     background-image: linear-gradient(to bottom right, #134e64, #66194f);
     padding: 1rem;
     height: 30vh;
     color: #ffffff;
     font-size: 1.5rem;
     -webkit-clip-path: inset(0 0 0 0);
     clip-path: inset(0 0 0 0);
    }
    
    div#ill
    {
     display: none;
    }
    
    div.head-group
    {
     margin-top: 1rem;
    }
    
    header p.text
    {
     font-size: .9rem;
     color: #7ab1c5;
     margin-top: 0;
     margin-left: 4rem;
    }
    
    /* Main tag */
    /* Style labels */
    div.mode-switch
    {
     text-align: center;
     margin-top: 3rem;
    }
    
    div.mode-switch div.translate button
    {
     background-image: linear-gradient(to bottom right, #134e64, #66194f);
     background-color: #134e64;
     padding: 1rem;
     text-transform: uppercase;
     font-size: small;
     font-weight: 900;
     color: #ffffff;
     border-radius: .3rem;
     border: none;
     box-shadow: .40rem .40rem 1rem rgba(0, 0, 0, .5);
    }
    
    
    div.boxes
    {
     text-align: center;
     margin-top: 2rem;
    }
    
    div.boxes textarea
    {
     resize: none;
     border-radius: .30rem;
     box-shadow: 0 0 1.5rem rgba(0, 0, 0, .4);
     display: block;
     display: inline-block;
    }
    
    div.boxes textarea#ebox
    {
     background-color: #e4dede;
     padding: .50rem;
     border: none;
     color: #217391;
     margin-right: 0;
    }
    
    div.boxes textarea#dbox
    {
     background-color: #e4dede;
     padding: .50rem;
     border: none;
     color: #a53082;
     margin-top: 1rem;
    }
    
}